/* Estilo general para el body */
body {
    font-family: 'Arial', sans-serif;
    background-color: #2ecc71;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contenedor principal del formulario */
.div {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

/* Título del formulario */
h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
    font-weight: 600;
}

/* Estilo de los inputs del formulario */
input[type="text"], input[type="email"], input[type="password"], input[type="submit"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    transition: all 0.3s ease;
}

/* Hover effect para los inputs */
input[type="text"]:hover, input[type="email"]:hover, input[type="password"]:hover, input[type="submit"]:hover {
    border-color: #6a11cb;
    box-shadow: 0 0 8px rgba(106, 17, 203, 0.5);
}

/* Estilo del botón de submit */
.inicio {
    background-color:#2ecc71;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 600;
}

/* Hover effect para el botón de submit */
.inicio:hover {
    background-color: #2575fc;
}

/* Estilo para los enlaces */
a {
    color: #2575fc;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

/* Hover effect para los enlaces */
a:hover {
    color: #6a11cb;
}

/* Estilo para los mensajes de error */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: #d9534f;
    font-size: 0.9rem;
}

/* Espaciado entre los enlaces */
p {
    font-size: 0.9rem;
    margin-top: 20px;
    color: #333;
}

/* Estilo para el botón 'Volver' */
a.btn-secondary {
    display: inline-block;
    width: 100%;
    padding: 14px 20px;
    background-color: #BDC3C7;  /* Color gris claro */
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin: 8px 0;
    transition: background-color 0.3s ease;  /* Suaviza el cambio de color */
}
/* Efecto hover para el enlace "Volver" */
a.btn-secondary:hover {
    background-color: #95a5a6;  /* Gris más oscuro al pasar el ratón */
}


/* Ajustes responsivos */
@media (max-width: 480px) {
    .div {
        padding: 20px;
    }

    h1 {
        font-size: 1.5rem;
    }

    input[type="text"], input[type="email"], input[type="password"], input[type="submit"] {
        font-size: 0.9rem;
    }

    .inicio, .btn-secondary {
        font-size: 1rem;
        padding: 10px 15px;
    }
}

